{% extends 'layout.html' %}

{% block content %}
<div class="alert alert-warning" role="alert">
  <h5>Warning!</h5> If you don't provide a valid master key, all your saved passwords will be permanently erased!
</div>
<div class="content-section">
	<form method="POST" action="" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">{{ title }}</legend>

			<div class="form-group">
				{{ form.password.label(class="form-control-label") }}
				
				{% if form.password.errors %}
					{{ form.password(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.password(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			
			<div class="form-group">
				{{ form.confirm_password.label(class="form-control-label") }}
				
				{% if form.confirm_password.errors %}
					{{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.confirm_password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.confirm_password(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			
			<div class="row pt-3">
				<div class="col">
					<div class="form-group">
						{{ form.master_key.label(class="form-control-label") }}
						
						{% if form.master_key.errors %}
							{{ form.master_key(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.master_key.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.master_key(class="form-control form-control") }}
						{% endif %}
					</div>
				</div>
				<div class="col">
					{{ form.master_key_file.label(class="form-control-label") }}
					{{ form.master_key_file(class="form-control-file mt-2") }}
					{% if form.master_key_file.errors %}
            {% for error in form.master_key_file.errors %}
            	<span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
				</div>
			</div>

			<div class="form-check">
				{{ form.lost_master_key(class="form-check-input") }}
				{{ form.lost_master_key.label(class="form-check-label") }}
				{% if form.lost_master_key.errors %}
          {% for error in form.lost_master_key.errors %}
          	<span class="text-danger">{{ error }}</span></br>
          {% endfor %}
        {% endif %}
			</div>
		</fieldset>

		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>
</div>
{% endblock %}
