{% extends 'layout.html' %}

{% block content %}
<div class="content-section">
  <legend class="border-bottom mb-4">{{ title }}</legend>
  
  <div class="row mb-3">
    <label class="form-text ml-3" for="lengthNumber">Length</label>  

    <div class="col-auto ml-2">
      <input class="form-control form-control-sm" type="number" id="lengthNumber" min="1" max="999" value="16">
    </div>
    <div class="ml-3">
      <input type="range" class="custom-range mt-1" min="1" max="99" value="16" id="lengthRange">
    </div>
  </div>
  
  <div class="ml-1">
    <div class="custom-control custom-switch">
      <input class="custom-control-input" type="checkbox" id="lower" checked>
      <label class="custom-control-label" for="lower">
        Lowercase
      </label>
    </div>

    <div class="custom-control custom-switch">
      <input class="custom-control-input" type="checkbox" id="upper" checked>
      <label class="custom-control-label" for="upper">
        Uppercase
      </label>
    </div>

    <div class="custom-control custom-switch">
      <input class="custom-control-input" type="checkbox" id="numbers" checked>
      <label class="custom-control-label" for="numbers">
        Numbers
      </label>
    </div>
    
    <div class="custom-control custom-switch">
      <input class="custom-control-input" type="checkbox" id="special" checked>
      <label class="custom-control-label" for="special">
        Special characters
      </label>
    </div>
  </div>

  <div class="row mt-4 mb-3">
    <div class="ml-3">
      <button class="btn btn-primary btn-sm" id='generateButton'>Generate</button>
    </div>

    <div class="ml-3">
      <input class="form-control form-control-sm" id="generatedPassword" value="" readonly>
    </div>
    <div class="ml-3">
      <button type="button" class="btn btn-secondary btn-sm" id="copyButton">Copy</button>
    </div>

    <small class="message ml-3 mt-1" id="message"></small>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/generate_password.js') }}"></script>

{% endblock %}