{% extends 'layout.html' %}

{% block content %}
<div class="content-section">
  
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mt-4">Import Data</legend>
      
      <div class="row pt-2">
        <div class="col">
         <span class="form-text text-muted">Please enter the master key valid <u>at the time of exporting the data</u>. All data included in the file, such as Passwords, Secure&nbspNotes, Credit&nbspCards, will be saved to your account.</span>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col">
          <div class="form-group">
            {{ form.master_key.label(class="form-control-label") }}
            
            {% if form.master_key.errors %}
              {{ form.master_key(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.master_key.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.master_key(class="form-control form-control") }}
            {% endif %}
          </div>
        </div>
        <div class="col">
          {{ form.file.label(class="form-control-label") }}
          {{ form.file(class="form-control-file mt-2") }}
          {% if form.file.errors %}
            {% for error in form.file.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
            {{ form.submit(class="btn btn-primary float-right", **{'value': 'Import'}) }}
        </div>
      </div>
    </fieldset>
  </form>


  <fieldset class="form-group">
    <legend class="border-bottom mt-4">Export Data</legend>
    
    <div class="row pt-2">
      <div class="col">
       <span class="form-text text-muted">Backup all your saved data into a single, encrypted JSON file. Please remember your current master key to decrypt the data later.</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <a class="btn btn-primary float-right" href="{{ url_for('user_data.download_encrypted_user_data') }}">Export</a>
      </div>
    </div>
  </fieldset>
</div>
{% endblock %}
