<div class="row">
  <div class="col">
    <label class="mt-1 mr-2">Name: </label>
  </div>
  <div class="col-7">
    <input class="form-control form-control-sm" value="{{ entries[i].name }}" onclick="this.select()" readonly>
  </div>
</div>
<div class="row">
  <div class="col">
    <label class="mt-1 mr-2">Number: </label>
  </div>
  <div class="col-7">
    <input class="form-control form-control-sm" value="{{ entries[i].number }}" onclick="this.select()" readonly>
  </div>
</div>
<div class="row">
  <div class="col">
    <label class="mt-1 mr-2">Expiration Date: </label>
  </div>
  <div class="col-7">
    <input class="form-control form-control-sm" value="{{ entries[i].expiration_date }}" onclick="this.select()" readonly>
  </div>
</div>
<div class="row">
  <div class="col">
    <label class="mt-1 mr-2">Security Code: </label>
  </div>
  <div class="col-7">
    <input class="form-control form-control-sm" value="{{ entries[i].cvv }}" onclick="this.select()" readonly>
  </div>
</div>
<div class="row">
  <div class="col">
    <label class="mt-1 mr-2">Cardholder Name: </label>
  </div>
  <div class="col-7">
    <input class="form-control form-control-sm" value="{{ entries[i].cardholder_name }}" onclick="this.select()" readonly>
  </div>
</div>
