{% extends 'user_data/access_data.html' %}

{% block no_entries_alert %}
  You don't have any saved credit cards yet! <a href="{{ url_for('user_data.add_credit_card') }}">Save your first credit card.</a>
{% endblock no_entries_alert %}

{% block top_buttons %}
  <a class="btn btn-primary mr-3 float-right" href="{{ url_for('user_data.add_credit_card') }}">Add Credit Card</a>
{% endblock top_buttons %}

{% block entry_header %}
  {{ entries[i].name }}
{% endblock entry_header %}

{% block entry_preview %}
  {{ entries[i].number }}
{% endblock entry_preview %}

{% block modal_title %}
  Credit Card
{% endblock modal_title %}

{% block modal_body %}
  {% include 'user_data/credit_cards/credit_card_modal_body.html' %}
{% endblock modal_body %}

{% block edit_button_target %}
  {{ url_for('user_data.edit_credit_card', entry_id=entries[i].id) }}
{% endblock edit_button_target %}

{% block delete_button_target %}
  {{ url_for('user_data.delete_credit_card', entry_id=entries[i].id) }}
{% endblock delete_button_target %}
