{% extends 'layout.html' %}

{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">{{ title }}</legend>
      
      <div class="form-group">
        {{ form.name.label(class="form-control-label") }}

        {% if form.name.errors %}
          {{ form.name(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.name(class="form-control form-control") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.site.label(class="form-control-label") }}

        {% if form.site.errors %}
          {{ form.site(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.site.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.site(class="form-control form-control") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.username.label(class="form-control-label") }}

        {% if form.username.errors %}
          {{ form.username(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class="form-control form-control") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        
        {% if form.password.errors %}
          {{ form.password(class="form-control form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class="form-control form-control", id="passwordField") }}
        {% endif %}
      </div>

      <input class="form-check-label ml-1" id="showPasswordCheckbox" type="checkbox" onclick="showPassword('')">
      <label for="showPassword">Show Password</label>
      
      <a class="mx-2 float-right" href="{{ url_for('main.generate_password') }}" target="_blank">Generate Password</a>
    </fieldset>

    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

{% endblock %}